@font-face {
    font-family: Montserrat;
    src: url(assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(assets/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Fraunces;
    src: url(assets/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: Fraunces-Italic;
    src: url(assets/Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

@media (max-width: 375px) { /* MOBILE */
    body {
        padding: 0vh 0vw;

        main {

            .image {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (min-width: 376px) { /* DESKTOP */
    body {
        padding: 40vh 4vw;

        main {
            display: flex;
            columns: 2;

            .image {
                width: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                width: 50%;
                height: auto;
            }
        }
    }
}

body {
    background-color: var(--cream);
}

main {
    font-family: Fraunces;

    background-color: var(--white);

    border-radius: 10px;
    
    max-width: 600px;
    overflow: hidden;

    margin: auto auto;
}

picture {
    min-width: 100%;
}

.text {
    max-width: 100%;
    height: auto;
    
    padding: 1em 2em;
    box-sizing: border-box;

    line-height: 1.5em;
}

h1 {
    font-size: 2em;
    line-height: 1em;

    margin-top: .5em;
}

h2 {
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    font-size: 0.75em;
    font-weight: normal;
}

p {
    font-family: Montserrat;
    font-size: 14px;

    color: var(--dark-grayish-blue);
}

.prices {
    display: flex;
    align-items: center;
    gap: 1.2em;
    margin-top: 2em;

    .current {
        font-size: 2em;
        font-weight: bolder;
        color: var(--dark-cyan);
    }

    .old {
        font-size: .85em;
        color: var(--dark-grayish-blue);
    }
}

.check-out {
    a {
        img {
            width: 17px;
            overflow: hidden;
        }

        font-family: Montserrat;
        font-weight: bold;
        font-size: small;

        text-decoration: none;
                
        color: white;
        background-color: var(--dark-cyan);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        margin-top: 2.5em;
        width: 100%;
        height: 45px;

        border-radius: 10px;
    }
}

.attribution {
    margin: 2em 1em;

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}